.git
.gitignore
.github
.vscode
.idea

.env
.env.*
!.env.example

node_modules
**/node_modules
**/.turbo
**/.cache
**/.vinxi
**/.output
**/dist
**/coverage
coverage
tmp
**/tmp
*.log
**/*.log

docs
**/docs
screenshots
**/screenshots

.autopilot
**/.autopilot

**/*.test.ts
**/*.spec.ts
apps/backend/test
